@model darlenyWebApp.Models.WebApp.Offer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfferPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfferPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Percent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Percent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OfferID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
